<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
  <title> Assignment 2</title>
</head>

<body>
  <div class="container-fluid">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="books.html">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="events.html">Events</a>
      </li>
    </ul>

    <div id='commentsId'>
        <div class="comments" v-for="comment in comments">
          <table id = "commentTable" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Comment Text</th>
              </tr>
            </thead>

          <tbody id = "commentTableBody">
              <tr>
              <td><span class="id">{{ comment.id }}</span> <br></td>,
              <td><span class="commentText">{{ comment.commentText }}</span></td>
         <!-- <p><button type="submit"> Refresh </button></p> -->
              </tr>
          </tbody>
          </table>
          </div>
          <br>
          <br>
          <br>
       <form id="newCommentForm" v-on:submit.prevent="CreateUser()">
         <div class="comments">
           <label for="commentText">Comment Text:</label>
           <input type="text" class="form-control" id="commentcommentText" v-model="newcomments.commentText" placeholder="">
         </div>
         <input type="submit" value="Submit New Comment" id="submitNewComment" class="button">
       </form>
    </div>


    <h1 class="title">Thank you</h1>
    <p> Thank you for Buying the books you bought. Have a great day and wear a mask when you go out</p>

    <div class= "img">
    <a target="_blank" href="img/Image2.png">
      <img src="img/Image2.png" alt="Smilie Face" height=200px class="img-responsive">
    </a>
   </div>

    <body>
<br>
<br>
<br>

  <footer>
    <p> Image Source: https://i.pinimg.com/originals/20/ab/34/20ab342b8b3032309cf6a394332356bb.jpg</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="js/index.app.js"></script>

  </body>
</html>
